/*mpseudoclass*/
h1::first-line {
    font-size: 2em;
    border: 1px solid black;
    background: rgb(0, 0, 0);
    display: block;
    float: left;
    padding: 2px;
    margin-right: 4px;
  }
  h1:hover {color: blue}

title{
	font-family: "Arial Black";
	background-color: white;
}
body{
    background: rgb(93, 109, 100);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: 1em;
}
*{
    color: white;
}
h1, h2{
    color: rgb(153, 194, 255);
}
header span {
    color: rgb(255, 204, 0);
}
a{
    color:rgb(250, 50, 200);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
	color:blue;
}

.image1{
    width: 325px;
}
.image2{
    width: 301px;
}
.validator{
    margin-top: 1.5em;
}
footer{
	text-align:center;
	color:black;
	padding:solid;
	background-color:rgb(84,155, 199);